<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.android.startsetting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.onyx.android.startup.StartTutorialApplicatin"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.onyx.android.startup.CountryActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onyx.android.startup.LanguageActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.onyx.android.startsetting.WIFI_SETTING_BACK" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onyx.android.startup.UserManual"
            android:label="@string/user_manual" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.onyx.android.startsetting.WIFI_SETTING_NEXT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.onyx.android.startsetting.WIFI_SETTING_SKIP" />
            </intent-filter>
        </activity>
    </application>

</manifest>